table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 5px solid #8a6bfa;
    text-align: left;
    padding: 8px;
}

tr:hover{
    color: white;
    background-color: blueviolet;
}